#where all model weights are located
checkpoint/gloss_bert/config.json
checkpoint/gloss_bert/pytorch_model.bin
checkpoint/gloss_bert/Sent_CLS_WS.zip
checkpoint/gloss_bert/vocab.txt
checkpoint/gloss_bert/Sent_CLS_WS/*

checkpoint/similarity_new_bert/0_Transformer/*
checkpoint/similarity_new_bert/1_Pooling/*
checkpoint/similarity_new_bert/config.json
checkpoint/similarity_new_bert/download.sh
checkpoint/similarity_new_bert/modules.json
checkpoint/similarity_new_bert/similarity_new_bert4.tar.xz
checkpoint/similarity_new_bert/similarity_new_bert4/*
checkpoint/jjzha_spanbert/pytorch_model.bin

baseline_bag_of_words/UKWAC_1_BS4.pickle
baseline_bag_of_words/UKWAC_1_BS4_text_data_cleaned.pickle
baseline_bag_of_words/UKWAC_1_BS4_text_data_cleaned_POS_assembled.pickle
baseline_bag_of_words/UKWAC-2_processing_ready_retrieval_ready.pickle
baseline_bag_of_words/UKWAC-2_processing_ready.xml

baseline_word2vec/embeddings/*